/*******
COLOR CHEAT SHEET
004e89-blue
52b69a-green
415a77-deepsea
386641-green
5a189a-purple
*****/



/************************/
/******** FONTS *********/
/************************/
body, p, div{
    font-family: "Playpen Sans", cursive;
}
h1, h2, h3, h4, h5 ,h6{
    font-family: "Bungee", sans-serif;
}